.drama{
    background: var(--genre-gradient-drama);
}

.thriller{
    background: var(--genre-gradient-thriller);
}

.scifi{
    background: var(--genre-gradient-scifi);
}

.war{
    background: var(--genre-gradient-war);
}

.action{
    background: var(--genre-gradient-action);
}

.mafia{
    background: var(--genre-gradient-mafia);
}

.western{
    background: var(--genre-gradient-western);
}

.comedy{
    background: var(--genre-gradient-comedy);
}

.fantasy{
    background: var(--genre-gradient-fantasy);
}