@import "../../styles/globals/mixins.scss";

.mobileNav{
    display: none;
    @include phone{
        display: block;
        width: 95%;
        margin: auto;
        background-color: var(--transparent-grey);
        backdrop-filter: blur(20px);
        position: fixed;
        bottom: 2%;
        left: 2.5%;
        padding: 0.5% 0px;
        border-radius: 17px;
        margin: auto;
        z-index: 30;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            padding-inline-start: 0;
            li{
                margin:0;
            }
        }
    }
    transition: all 0.7s ease;
}

.hidden{
    bottom: -30%!important;
    transition: all 1.5s ease;
}