@import "../../styles/globals/mixins.scss";

.reviewbox{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    width: 65%;
    @include phone{
        grid-template-columns: repeat(1, 100%);
        width: 100%;
    }
    @include tablet{
        grid-template-columns: repeat(1, 100%);
        width: 100%;
    }
    .emptyinfo{
        opacity: 0.7;
    }
    .hide{
        display: none;
    }
}