@import "../../styles/globals/mixins.scss";

.searchbar{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: var(--transparent-grey);
    border: none;
    border-radius: 8px;
    padding: 0px 15px;
    height: 35px;
    backdrop-filter: blur(20px);
    transition: 0.5s ease;
    @include phone{
        width: 100%;
        margin-bottom: 5%;
    }
    @include tablet{
        width: 45%;
    }
    .searchfield{
        margin-left: 10px;
        width: 90%;
        background-color: transparent;
        border: none;
        outline: none;
        transition: 0.5s ease;
    }
    ::placeholder{
        color: var(--placeholder-text);
        @include tablet{
            font-size: 0.8rem;
        }
    }
}